In [1]:
import pandas as pd
import xgboost as xgb

In [2]:
df = pd.DataFrame(
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    columns=['num', 'age', 'target']
)

In [3]:
df

   num  age  target
0    1    2       3
1    4    5       6
2    7    8       9

In [5]:
df_xgb = xgb.DMatrix(df[['num', 'age']], label=df['target'])

In [12]:
params = {"eval_metric": "logloss", "objective": "binary:hinge"}

In [14]:
bst = xgb.train(params, df_xgb)